
.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1440px; 
    margin: 0 auto; 
  }
  
  .filter-sort {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
  }
  
  .filter-sort > * {
    flex: 1;
    min-width: 100px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.9s ease-out;
    width: 100%;
  }
  
  .product-list.visible {
    opacity: 1;
    visibility: visible;
  }
 

  @media (min-width: 1025px) {
    .home {
      padding: 20px;
    }
  
    .filter-sort {
      gap: 20px;
    }
  
    .product-list {
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
  
 
  @media (max-width: 1024px) {
    .filter-sort {
      flex-direction: column;
      gap: 15px;
    }
  
    .filter-sort > * {
      min-width: 100%;
    }
  
    .product-list {
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
  }
  

  @media (max-width: 768px) {
    .filter-sort {
      flex-direction: column;
      gap: 10px;
    }
  
    .filter-sort > * {
      min-width: 100%;
    }
  
    .product-list {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
 
  @media (max-width: 480px) {
    .home {
      padding: 10px;
    }
  
    .filter-sort {
      gap: 8px;
    }
  
    .product-list {
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  