.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  .footer-top {
    margin-bottom: 10px;
  }
  
  .footer-top h4 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
  }
  
  .social-icons  {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
    margin: 40px 0; 
  }

  .social-icons a {
    text-decoration: none;
    color: #2f3031;
  }
  
  .social-icons a:hover {
    transform: translateY(-5px);
  }
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #6c757d;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #333;
  }
  
  .footer-bottom {
    font-size: 14px;
    color: #6c757d;
  }
  